/***********************************************************************
// Description: Insert script de provincias, departamentos y localidades argentinas.
// Autor: kerzek - http://kerzek.blogspot.com
// Date: Abril 2008
// Notes: Realizado y testeado en SQL Server 2005

***********************************************************************/
USE FabricaMuebles
/****** Object:  Table [Provincia]    Script Date: 03/30/2008 07:37:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Provincia]') AND type in (N'U'))
BEGIN
CREATE TABLE [Provincia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Departamento]    Script Date: 03/30/2008 07:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Departamento]') AND type in (N'U'))
BEGIN
CREATE TABLE [Departamento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idProvincia] [int] NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Localidad]    Script Date: 03/30/2008 07:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Localidad]') AND type in (N'U'))
BEGIN
CREATE TABLE [Localidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idDepartamento] [int] NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END




--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
SET IDENTITY_INSERT [dbo].[Provincia] ON
GO
 
 
PRINT 'Inserting values into [Provincia]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

INSERT INTO [Provincia] ([id],[Nombre])VALUES(5,'CORDOBA')

PRINT 'Done'
 
 
SET IDENTITY_INSERT [dbo].[Provincia] OFF
GO
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
SET IDENTITY_INSERT [dbo].[Departamento] ON
GO
 
 
PRINT 'Inserting values into [Departamento]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

INSERT INTO [Departamento] ([id],[idProvincia],[Nombre])VALUES(205,5,'COLON')
INSERT INTO [Departamento] ([id],[idProvincia],[Nombre])VALUES(213,5,'CAPITAL')
PRINT 'Done'
 
 
SET IDENTITY_INSERT [dbo].[Departamento] OFF
GO
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
SET IDENTITY_INSERT [dbo].[Localidad] ON
GO
 
 
PRINT 'Inserting values into [Localidad]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT INTO [Localidad] ([id],[idDepartamento],[Nombre])VALUES(1538,205,'COLONIA CAROYA')
INSERT INTO [Localidad] ([id],[idDepartamento],[Nombre])VALUES(1560,213,'CORDOBA')

PRINT 'by kerzek'
 
 
SET IDENTITY_INSERT [dbo].[Localidad] OFF
GO
SET NOCOUNT OFF